header{ 
    background-image: url(https://images.unsplash.com/photo-1520966347624-b86c3042b3b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1514&q=80);
    background-size: 1375px;
} 
main{
    overflow: hidden;
}


.titulo{
    font-size: 70px;
    color: rgb(5, 77, 17);
}
.sección{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-left: 70px;
}
.elegir{
    color: rgb(61, 11, 57);
    margin-left: 70px;
}

.boton{
    margin-left: 70px;
}
.salir{
    margin-left: 30cm;
}

.imagen1{
    float: left;
    border-color: rgb(71, 39, 1);
    border-style: groove;
    border-width: 15px;
    margin-left: 70px;
}
.agregar{
    color: rgb(255, 0, 0);
    margin-left: 70px;
    font-weight: bold;
}