<!DOCTYPE html>
<html lang="en">

        <head>
            <LINK REL=StyleSheet HREF="EstiloUsuario.css" TYPE="text/css" MEDIA=screen>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Sección de Usuario</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        </head>
<body>
    <form name="form1" method="post" action="/mantenedor">
    <header>
    <div>
        <center class="titulo" >Sugar paradise</center>
        <h2 class="sección"> Sección de Usuario</h2>
        <br>
    </div>

    <div>
        <h3 class="elegir">Ingrese datos del usuario</h3>
        <br>
    </div>
<main>
    <div class="row">
        <div class="col-md-4">
        <img class="imagen1" src="https://images.unsplash.com/photo-1528795336402-85f2e50fbb2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=756&q=80" 
        width="400" height="300">
        
        <div class="agregar">
        Nombre=<input type="text" name="txtNombre" id="Nombre"><br>
        Rut=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="txtRut" id="Rut"><br>
        ID=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="txtId" id="Id"><br>
        </div>
            <a class="agregar" href="#"><button type="submit" name="btnGuardar" value="Guardar" class="btn btn-dark">Agregar</button></a>
        </div>

    </div>
        <div >
            <a class="salir" href="https://charlessand.github.io/DULCERIA.DWY/hola/dulces/inicio.html"><button type="button" class="btn btn-primary" >Volver</button ></a>
            </div>
<br><br><br><br><br><br>

</main>
</header>
</form>
</body>
</html>